body{
	font-family: "FK Grotesk Mono Trial", monospace, sans-serif;
	color: #000000;
	overflow-y: hidden;
	cursor: url(assets/cursor.png), auto;
	/*box-sizing: border-box;*/
}

.content{
	height: 100vh;
	display: inline-flex;
	flex-flow: row nowrap;
	margin-left: -10px;
}

.cover{
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin: 4vh 0vh;
}

.navbar{
	display: block;
	text-align: center;
}

.navbar a{
	text-decoration: none;
	color: #000000;
	cursor: url(assets/cursor.png), auto;
}

.navbar a:hover{
	text-decoration: underline;
	cursor: url(assets/cursor.png), auto;
}

.header{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.header h1{
	font-size: max(6vw, 22px);
	font-weight: 800;
	margin: 0vh 0vh;
}

.header .mid{
	font-weight: 200;
	font-style: italic;
}

.cover h2{
	font-size: max(1.1vw, 12px);
	min-width: 250px;
	max-width: 40vw;
	font-weight: 400;
	margin: 0vh 0vh;
}

.scroll img{
	width: 12vw;
}

.museum{
	display: flex;
	min-width: 100vw;
	flex-direction: column;
	margin: 4vh 0vh;
	margin-right: 3vw;
}

.museum .sort{
	font-size: max(1.1vw, 12px);
	text-align: center;
	position: sticky;
	left: 35vw;
	align-self: flex-start;
	display: block;
	text-align: center;
	padding-bottom: 2.5vh;
}

button:disabled,
button[disabled]{
	color: lightgrey;
}

button{
	cursor: url(assets/cursor.png), auto;
}

button:hover{
	cursor: url(assets/cursor.png), auto;
}

/*Clearing Styling of Button*/
/*Stack Overflow Source — https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit*/
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	padding: 10px;
	width: auto;
}
/*****************************/

.row1{
	display: flex;
	flex-direction: row nowrap;
	justify-content: center;
	align-items: flex-end;
	height: 34vh;
	padding-bottom: 1vh;
}

.row2{
	display: flex;
	flex-direction: row nowrap;
	justify-content: center;
	align-items: flex-start;
	height: 34vh;
	padding-right: 50px;
}

.image {
	position: relative;
	height: 34vh;
	padding-right: 10px;
}

.image:hover{
	cursor: url(assets/cursor.png), auto;
}

#acetone{
	/*no changes*/
}

#cotton{
	width: 28vh;
	height: auto;
}

#metrocard{
	width: 35vh;
	height: auto;
}

#alcoholSwabs{
	height: 28vh;
	width: auto;
}

#brita{
	height: 26vh;
	width: auto;
}

#coffee{
	/*no changes*/
}

#makeupRemover{
	height: 30vh;
	width: auto;
}

#juice{
	height: 30vh;
	width: auto;
}

#foil{
	position: relative;
}

#lipBalm{
	height: 30vh;
	width: auto;
}

#smoothie{
	height: 30vh;
	width: auto;
}

#lotion{
	height: 28vh;
	width: auto;
}

#matza{
	height: 26vh;
	width: auto;
}

#dryerSheets{
	/*no changes*/
}

#kitKat{
	/*no changes*/
}

#receipts{
	/*no changes*/
}

#tide{
	height: 28vh;
	width: auto;
}

#tostitos{
	height: 30vh;
	width: auto;
}

#masks{
	/*no changes*/
}

#paperBags{
	height: 28vh;
	width: auto;
}

#packages{
	/*no changes*/
}

.invisible{
	display: none;
}

svg{
	width: 40vh;
}

















