body{
	font-family: "FK Grotesk Mono Trial", monospace, sans-serif;
	color: #000000;
	font-size: 20px;
	overflow-y: hidden;
}

.content{
	height: 100vh;
	display: inline-flex;
	flex-flow: row nowrap;
}

.cover{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex:  1 1 auto;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.navbar{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.navbar p{
	padding: 10px;
	text-align: center;
}

.navbar a{
	text-decoration: none;
	color: #000000;
}

.navbar a:hover{
	text-decoration: underline;
}

.cover h1{
	font-size: 100px;
	font-weight: 800;
	margin-bottom: 0px;
}

.mid{
	font-weight: 200;
	font-style: italic;
}

.cover h2{
	width: 800px;
	font-weight: 400;
	font-size: 20px;
}

.header{
	text-align: center;
}

.scroll{
	text-align: center;
	margin-bottom: 80px;
}

.museum{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-right: 50px;
}

.museum .sort{
	position: sticky;
	left: 55vh;
	align-self: flex-start;
	margin-bottom: 10px;
}

button:disabled,
button[disabled]{
	color: lightgrey;
}

/*Clearing Styling of Button*/
/*Stack Overflow Source — https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit*/
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	padding: 10px;
	width: auto;
}
/*****************************/

.row1{
	display: flex;
	flex-direction: row nowrap;
	align-items: flex-end;
	height: 45vh;
}

.row2{
	display: flex;
	flex-direction: row nowrap;
	align-items: flex-start;
	height: 45vh;
}

.image{
	width: 30vh;
	padding: 10px;
}

.image:hover{
	cursor: url(assets/cursor.png), auto;
}

#acetone{
	position: relative;
}

#cotton{
	position: relative;
	width: 35vh;
}

#metrocard{
	position: relative;
	width: 32vh;
}

#alcoholSwabs{
	position: relative;
	width: 27vh;
}

#brita{
	position: relative;
	width: 30vh;
}

#coffee{
	position: relative;
	width: 18vh;
}

#makeupRemover{
	position: relative;
	width: 26vh;
}

#juice{
	position: relative;
	width: 27vh;
}

#foil{
	position: relative;
}

#lipBalm{
	position: relative;
	width: 35vh;
}

#smoothie{
	position: relative;
	width: 19vh;
}

#lotion{
	position: relative;
	width: 25vh;
}

#matza{
	position: relative;
	width: 27vh;
}

#dryerSheets{
	position: relative;
}

#kitKat{
	position: relative;
	width: 21vh;
}

#receipts{
	position: relative;
}

#tide{
	position: relative;
	width: 20vh;
}

#tostitos{
	position: relative;
	width: 20vh;
}

#masks{
	position: relative;
	width: 40vh;
}

#paperBags{
	position: relative;
	width: 35vh;
}

#packages{
	position: relative;
	width: 25vh;
}

.invisible{
	display: none;
}

.button:hover{
	text-decoration: underline;
}