body{
	font-family: 'Basic Sans', sans-serif;
	font-size: 22px;
}

/* main slide*/

.header{ /*header*/
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
	width: 100%;
	justify-content: space-between;
}

.nav{  /*navigating between different versions of the site*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

.button1{
	color: black;
	border: 4px solid black;
	border-radius: 52px;
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	padding: 11px 20px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
	margin: 10px;
}

a.button1 {
	text-decoration: none;
}

a.button1:hover{
	background-color: yellow;
}

.heading{
	text-align: center;
	align-items: center;
}

.h1{
	font-family: Graphik, sans-serif;
	font-size: 100px;
	font-weight: bold;
	color: #000AFF;
	margin: 2.2%;
	padding-bottom: 10px;
	line-height: 70%;
}


.heading {
	display:  block;
}

.sub{
	font-size: 50px;
	line-height: 100%;
	padding: 15px;
}

.button2 {
	font-size: 25px;
	color: #000AFF;
	font-weight: 600;
	padding: 5px 5px 10px 5px;
	background-color: yellow;
	border-radius: 52px;
	margin: 15px 36%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.heading h3{
	font-size: 20px;
	color: #939393;
	font-weight: 400;
	margin: 15px 36%;
}

.scroll{
	text-align: center;
	align-items: center;
}

.scroll h1{
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.scroll img{
	height: 60%;
}


/*all questions and responses*/

.content{
	margin: 5% 28%;
}

.question{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	font-weight: 500;
	color: #000AFF;
	margin-bottom: 60px;
}

.question img{
	height: 102px;
	padding-right: 15px;
}

.response{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	font-weight: 300;
	color: #7D7AFF;   
	margin-bottom: 60px;
}

.response img{
	height: 102px;
	padding-left: 15px;
}

.footer{ /*footer*/
	box-sizing: border-box;
	padding: 20px;   
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
	width: 100%;
	justify-content: space-between;
}

.footing{
	text-align: center;
}

.footing h3{
	font-size: 18px;
	color: #939393;
	font-weight: 400;
	margin: 15px 36%;
}

.scroll2 {
	margin: 50px;
	text-align: center;
	align-items: center;
}

.scroll2 h1{
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
}

MAYBE IT WILL STOP MAKING NOISE SOON

i sayy hey u say stfu

